<label for="nome">Name:</label>
<input type="text" id="nome-categoria" placeholder="Category Name" class="form-control">
<label>Slug</label>
<input type="text" id="slug" placeholder="Category Slug" class="form-control">
<button type="submit" class="btn btn-success categoria">Create Category</button> 